<a href="{{ banner.url }}">
  كلمة عادية
</a>

<a href="{{ component.url }}">
  كل222 مة عادية
</a>
<a href="{{component.gazal-slide.url}}">
  كلمة عادية
</a>
<a href="{{component.banner_item.but_url}}">
  كلمة 33333
</a>
<a href="{{component.gazal-slide.banner_item.but_url}}">
  كلمة 4444
</a>
<a href="{{gazal-slide.banner_item.but_url}}">
  كلمة 4444
</a>