<!-- زر 1 -->
<a href="{{ banner.but_url }}">
  زر 1
</a>

<!-- زر 2 -->
<a href="{{ banner.but_url.url }}">
  زر 2
</a>

<!-- زر 3 -->
<a href="{{ banner.but_url.value }}">
  زر 3
</a>

<!-- زر 4 -->
<a href="{{ banner.but_url.link }}">
  زر 4
</a>

<!-- زر 5 -->
<a href="{{ banner.but_url.href }}">
  زر 5
</a>

<!-- زر 6 -->
<a href="{{ banner.but_url.selected }}">
  زر 6
</a>

<!-- زر 7 -->
<a href="{{ banner.but_url.selected.value }}">
  زر 7
</a>

<!-- زر 8 -->
<a href="{{ banner.but_url.item }}">
  زر 8
</a>

<!-- زر 9 -->
<a href="{{ banner.but_url.data }}">
  زر 9
</a>

<!-- زر 10 -->
<a href="{{ banner.but_url.path }}">
  زر 10
</a>

<!-- زر 11 -->
<a href="{{ banner.but_url.slug }}">
  زر 11
</a>

<!-- زر 12 -->
<a href="{{ banner.but_url.key }}">
  زر 12
</a>

<!-- زر 13 -->
<a href="{{ banner.but_url.id }}">
  زر 13
</a>

<!-- زر 14 -->
<a href="{{ banner.but_url.target }}">
  زر 14
</a>

<!-- زر 15 -->
<a href="{{ banner.but_url.target.url }}">
  زر 15
</a>

<!-- زر 16 -->
<a href="{{ banner.but_url.source }}">
  زر 16
</a>

<!-- زر 17 -->
<a href="{{ banner.but_url.custom }}">
  زر 17
</a>

<!-- زر 18 -->
<a href="{{ banner.but_url.custom.url }}">
  زر 18
</a>

<!-- زر 19 -->
<a href="{{ banner.but_url[0] }}">
  زر 19
</a>

<!-- زر 20 -->
<a href="{{ banner.but_url[0].url }}">
  زر 20
</a>
<a href="{{ component.url }}">
  كلمة عادية
</a>