<section class="s-block super-slider" dir="rtl">

{% set banners = component.bannersitem ?? [] %}

<salla-slider auto-play pagination>

<div slot="items">

{% if banners|length %}

  {% for item in banners %}

    {% set img = item.banner-img-big.url ?? '' %}
    {% set img_mobile = item.banner-small.url ?? img %}

    <div class="swiper-slide">

      <!-- IMAGE -->
      {% if img %}
        <picture>
          <source media="(max-width:768px)" srcset="{{ img_mobile }}">
          <img src="{{ img }}" alt="banner">
        </picture>
      {% endif %}

      <!-- TEXT -->
      {% if item.banner-main %}
        <h2>{{ item.banner-main }}</h2>
      {% endif %}

      {% if item.banner-des %}
        <p>{{ item.banner-des }}</p>
      {% endif %}

      {% if item.banner-button %}
        <a href="#">{{ item.banner-button }}</a>
      {% endif %}

    </div>

  {% endfor %}

{% else %}
  <p>لا يوجد بنرات</p>
{% endif %}

</div>
</salla-slider>

</section>