<p>kj
llllllllll</p>

<section class="s-block text-banner-block container" dir="rtl">

{% if attribute(_context, 'text-banner') and attribute(_context, 'text-banner')|length %}

  <div class="text-banner-wrapper">

    {% for item in attribute(_context, 'text-banner') %}

      <div class="text-banner-item">

        <h2 
          class="main-title"
          style="color: {{ item['main-color']|default('#000') }}"
        >
          {{ item['main-text'] }}

          <span style="color: {{ item['main-color-special']|default('#ff2e2e') }}">
            {{ item['main-text-colourfull'] }}
          </span>
        </h2>

        {% if item['second-text'] %}
          <p 
            class="sub-text"
            style="color: {{ item['second-color']|default('#333') }}"
          >
            {{ item['second-text'] }}
          </p>
        {% endif %}

        {% if item['text-button'] %}
          <a 
            href="{{ item['url']|default('#') }}" 
            class="banner-btn"
          >
            {{ item['text-button'] }}
          </a>
        {% endif %}

      </div>

    {% endfor %}

  </div>

{% else %}
  <p style="text-align:center">لا يوجد محتوى</p>
{% endif %}

</section>
<pre>{{ _context|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>